import * as s from './styles';

export type {{pascalCase name}}Props = any;

const {{pascalCase name}} = () => (
  <s.Wrapper aria-label="{{pascalCase name}} component">
    <h1>{{pascalCase name}}</h1>
  </s.Wrapper>
);

export default {{pascalCase name}};
